MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/tourism-bangladesh?retryWrites=true&w=majority
JWT_SECRET=tourism_bangladesh_secret_key_change_this
EMAIL_USER=tomar_gmail@gmail.com
EMAIL_PASS=gmail_app_password_16_digit
FRONTEND_URL=https://tomar-site.netlify.app
PORT=5000
